## 01 SINGAPORE'S WEATHER DATA: 1983 - 2019 (SEPT)

The raw folder have
- 438 CSV files containing daily weather data for Singapore from 1983 - 2019 (June)

- a "monthly_data" sub-folder containing monthly average data for rainfall, maximum and mean temperatures.

In [18]:
import glob
import pandas as pd

# 1. DAILY WEATHER DATA

In [19]:
# Combining the separate CSV files into one
raw = pd.concat(
    [pd.read_csv(f) for f in glob.glob("raw/*.csv")], ignore_index=True
)

In [20]:
# Adding a datetime col in the year-month-day format
raw["Date"] = pd.to_datetime(
    raw["Year"].astype(str)
    + "-"
    + raw["Month"].astype(str)
    + "-"
    + raw["Day"].astype(str)
)

In [21]:
raw["Month_Name"] = raw["Date"].dt.month_name()
raw["Quarter"] = raw["Date"].dt.quarter

In [22]:
# Converting values in the Max/Mean Wind into numeric data type
raw["Max Wind Speed (km/h)"] = pd.to_numeric(
    raw["Max Wind Speed (km/h)"], errors="coerce"
)
raw["Mean Wind Speed (km/h)"] = pd.to_numeric(
    raw["Mean Wind Speed (km/h)"], errors="coerce"
)

In [23]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13483 entries, 0 to 13482
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Station                        13483 non-null  object
 1   Year                           13483 non-null  int64
 2   Month                          13483 non-null  int64
 3   Day                            13483 non-null  int64
 4   Daily Rainfall Total (mm)      13483 non-null  float64
 5   Highest 30 Min Rainfall (mm)   13483 non-null  object
 6   Highest 60 Min Rainfall (mm)   13483 non-null  object
 7   Highest 120 Min Rainfall (mm)  13483 non-null  object
 8   Mean Temperature (°C)          13483 non-null  float64
 9   Maximum Temperature (°C)       13483 non-null  float64
 10  Minimum Temperature (°C)       13483 non-null  float64
 11  Mean Wind Speed (km/h)         13473 non-null  float64
 12  Max Wind Speed (km/h)          13472 non-null  float64
 13  Date                           13483 non-null  datetime64[ns]
 14  Month_Name                     13483 non-null  object
 15  Quarter                        13483 non-null  int32
dtypes: datetime64[ns](1), float64(6), int32(1), int64(3), object(5)
memory usage: 1.6+ MB

#### Fill the missing entries in Mean Wind Speed and Max Wind Speed columns with mean values of both cols

In [24]:
raw["Max Wind Speed (km/h)"] = raw["Max Wind Speed (km/h)"].fillna(
    raw["Max Wind Speed (km/h)"].mean()
)
raw["Mean Wind Speed (km/h)"] = raw["Mean Wind Speed (km/h)"].fillna(
    raw["Mean Wind Speed (km/h)"].mean()
)

In [25]:
# Dropping cols that I won't need for visualisation or modelling
raw = raw.drop(
    columns=[
        "Station",
        "Highest 30 Min Rainfall (mm)",
        "Highest 60 Min Rainfall (mm)",
        "Highest 120 Min Rainfall (mm)",
    ]
)

In [26]:
# Slight rearrangement of cols for clarity
cols = [
    "Date",
    "Year",
    "Month",
    "Month_Name",
    "Quarter",
    "Day",
    "Daily Rainfall Total (mm)",
    "Mean Temperature (°C)",
    "Maximum Temperature (°C)",
    "Minimum Temperature (°C)",
    "Mean Wind Speed (km/h)",
    "Max Wind Speed (km/h)",
]

In [27]:
weather = raw[cols].copy()

In [28]:
weather = weather.sort_values('Date', ascending=False)

In [29]:
weather.info()
# no null values

<class 'pandas.core.frame.DataFrame'>
Index: 13483 entries, 12323 to 4385
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       13483 non-null  datetime64[ns]
 1   Year                       13483 non-null  int64
 2   Month                      13483 non-null  int64
 3   Month_Name                 13483 non-null  object
 4   Quarter                    13483 non-null  int32
 5   Day                        13483 non-null  int64
 6   Daily Rainfall Total (mm)  13483 non-null  float64
 7   Mean Temperature (°C)      13483 non-null  float64
 8   Maximum Temperature (°C)   13483 non-null  float64
 9   Minimum Temperature (°C)   13483 non-null  float64
 10  Mean Wind Speed (km/h)     13483 non-null  float64
 11  Max Wind Speed (km/h)      13483 non-null  float64
dtypes: datetime64[ns](1), float64(6), int32(1), int64(3), object(1)
memory usage: 1.3+ MB

In [30]:
weather.columns

Index(['Date', 'Year', 'Month', 'Month_Name', 'Quarter', 'Day',
       'Daily Rainfall Total (mm)', 'Mean Temperature (°C)',
       'Maximum Temperature (°C)', 'Minimum Temperature (°C)',
       'Mean Wind Speed (km/h)', 'Max Wind Speed (km/h)'],
      dtype='object')

In [31]:
weather.describe()
# The Daily Rainfall cols have some obvious outliers. But let's deal with that later, as and when required

,Date,Year,Month,Quarter,Day,Daily Rainfall Total (mm),Mean Temperature (°C),Maximum Temperature (°C),Minimum Temperature (°C),Mean Wind Speed (km/h),Max Wind Speed (km/h)
count,13483,13483.000000,13483.000000,13483.000000,13483.000000,13483.000000,13483.000000,13483.000000,13483.000000,13483.000000,13483.000000
mean,2001-06-16 00:00:00,2000.957947,6.510421,2.505155,15.728770,5.812275,27.669005,31.522769,24.904747,7.445691,34.048553
min,1983-01-01 00:00:00,1983.000000,1.000000,1.000000,1.000000,0.000000,22.800000,23.600000,20.200000,0.200000,4.700000
25%,1992-03-24 12:00:00,1992.000000,4.000000,2.000000,8.000000,0.000000,26.900000,30.800000,24.000000,4.800000,28.800000
50%,2001-06-16 00:00:00,2001.000000,7.000000,3.000000,16.000000,0.000000,27.700000,31.800000,24.900000,6.800000,33.100000
75%,2010-09-07 12:00:00,2010.000000,10.000000,4.000000,23.000000,4.400000,28.600000,32.500000,25.800000,9.700000,38.200000
max,2019-11-30 00:00:00,2019.000000,12.000000,4.000000,31.000000,216.200000,30.900000,36.000000,29.100000,22.200000,90.700000
std,NaN,10.654557,3.442745,1.116105,8.799971,14.418090,1.175334,1.571184,1.268123,3.474844,8.031279

In [32]:
weather.head()

,Date,Year,Month,Month_Name,Quarter,Day,Daily Rainfall Total (mm),Mean Temperature (°C),Maximum Temperature (°C),Minimum Temperature (°C),Mean Wind Speed (km/h),Max Wind Speed (km/h)
12323,2019-11-30,2019,11,November,4,30,9.4,27.6,32.1,25.0,6.8,28.1
12322,2019-11-29,2019,11,November,4,29,73.4,26.5,32.0,24.0,6.1,31.3
12321,2019-11-28,2019,11,November,4,28,9.0,27.8,31.4,25.3,7.6,27.4
12320,2019-11-27,2019,11,November,4,27,1.8,27.5,31.5,25.4,7.2,31.3
12319,2019-11-26,2019,11,November,4,26,0.0,28.5,33.0,25.7,10.4,34.9

In [33]:
weather.to_csv('data/weather.csv', index=False)

## 2. MONTHLY DATA
Here, I'll do some light processing of the monthly average data for rainfall, maximum and mean temperatures. They are in the raw folder's "monthly_data" sub-folder.

### 2.1 MONTHLY RAINFALL RECORDS

In [34]:
monthly_rain = pd.read_csv('raw/monthly_data/monthly_rain.csv')

In [35]:
monthly_rain["month"] = pd.to_datetime(monthly_rain["month"])
monthly_rain["year"] = monthly_rain["month"].dt.year
monthly_rain["month"] = monthly_rain["month"].dt.month

In [36]:
monthly_rain = monthly_rain.rename(columns = {"year": "Year", 
                                              "month": "Month", 
                                              "total_rainfall": "Total_Monthly_Rainfall (mm)"})

In [37]:
# For consistency with the daily records, I'll start with entries from 1983 for the monthly datasets as well 
cols_rain = ["Total_Monthly_Rainfall (mm)", "Year", "Month"]
monthly_rain = monthly_rain[cols_rain].copy()
monthly_rain = monthly_rain[monthly_rain["Year"] >= 1983]

In [50]:
monthly_rain.to_csv('data/rain_monthly.csv', index=False)

In [39]:
monthly_rain.tail()

     Total_Monthly_Rainfall (mm)  Year  Month
445                         31.6  2019      2
446                         72.2  2019      3
447                        174.8  2019      4
448                         69.0  2019      5
449                        173.8  2019      6

### 2.2 MONTHLY MEAN TEMPERATURES

In [40]:
mean_temp = pd.read_csv('raw/monthly_data/monthly_temp_mean.csv')

In [41]:
mean_temp["month"] = pd.to_datetime(mean_temp["month"])
mean_temp["year"] = mean_temp["month"].dt.year
mean_temp["month"] = mean_temp["month"].dt.month

In [42]:
mean_temp = mean_temp.rename(
    columns={
        "year": "Year",
        "month": "Month",
        "mean_temp": "Mean_Monthly_Temperature (°C)",
    }
)

In [43]:
cols_temp_mean = ["Mean_Monthly_Temperature (°C)", "Year", "Month"]
mean_temp = mean_temp[cols_temp_mean].copy()
mean_temp = mean_temp[mean_temp["Year"] >= 1983]

In [44]:
mean_temp.to_csv('data/mean_temp_monthly.csv', index=False)

### 2.3 MONTHLY MAX TEMPERATURES

In [45]:
max_temp = pd.read_csv('raw/monthly_data/monthly_temp_max.csv')

In [46]:
max_temp["month"] = pd.to_datetime(max_temp["month"])
max_temp["year"] = max_temp["month"].dt.year
max_temp["month"] = max_temp["month"].dt.month

In [47]:
max_temp = max_temp.rename(
    columns={
        "year": "Year",
        "month": "Month",
        "max_temperature": "Max_Monthly_Temperature (°C)",
    }
)

In [48]:
cols_temp_max = ["Max_Monthly_Temperature (°C)", "Year", "Month"]
max_temp = max_temp[cols_temp_max].copy()
max_temp = max_temp[max_temp["Year"] >= 1983]

In [49]:
max_temp.to_csv('data/max_temp_monthly.csv', index=False)